Source: libsaes
Section: devel
Priority: extra
Maintainer: Smartmatic Labs C.A. <latam@smartmatic.com>
Uploaders: Yadickson Soto <yadickson.soto@smartmatic.com>
Build-Depends: debhelper (>= 7),
	autotools-dev,
	cdbs,
	intltool,
	pkg-config,
	xsdcxx (>= 3.3.0.1),
	libxml-security-c-dev (>= 1.6.1),
	libqrencode-dev (>= 3.1.1),
	libglobalplatform6-dev (>= 6.0.0),
	libxerces-c-dev,
	libgtkmm-2.4-dev,
	libcups2-dev,
	liblog4cxx10-dev,
	libgmp-dev | libgmp3-dev,
	libpcsclite-dev,
	doxygen,
	graphviz,
	libsmartmatic-dev,
	libsaescommon-dev,
	libsmartmaticgui-dev,
	libsmartmaticlog-dev
Standards-Version: 3.9.1
Homepage: http://www.smartmatic.com

Package: libsaes-dev
Section: libdevel
Architecture: any
Depends: libsaes1 (= ${binary:Version}), ${misc:Depends}
Description: Library SAES Developer
 Library SAES Developer C++.

Package: libsaes1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: saes-l10n-all, xmlroff (>= 0.6.2), fop (>= 1:1.0)
Description: Library SAES
 Library SAES Runtime.

Package: libsaes-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-jquery
Suggests: devhelp
Description: Library SAES Doc
 Library SAES Documentation.

Package: libsaes1-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libsaes1 (= ${binary:Version}), ${misc:Depends} 
Description: Library SAES Debug
 Library SAES Runtime Debug
 .
 This package contains the debugging symbols of the library.

